<h1>Blogs</h1>

<% cache do %>
  <%= render @blogs %>
<% end %>

<nav class="blog-pagination">
  <a class="btn btn-outline-primary" href="#">Older</a>
  <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
</nav>
