<div class="card" data-id="<%= portfolio_item.id %>">
  <%= image_tag portfolio_item.image.thumb unless portfolio_item.image.nil? %>
  <p class="card-text">
    <span><%= link_to portfolio_item.title, portfolio_item %></span> <%= portfolio_item.subtitle %>
  </p>
</div>
