<div class="inner cover">
  <h1 class="cover-heading">Welcome</h1>
  <p class="lead">Software development should not be a secret process, when I take on a new project I make it my goal to not only deliver a well crafter product but to also ensure that each stage of the procress is fully comminicated.  </p>
  <p class="lead">
    <%= link_to 'About me', about_me_path, class: 'btn btn-lg btn-secondary'  %>
  </p>
</div>
