<div class="inner cover">
  <h1 class="cover-heading">Welcome</h1>
  <p class="lead">
    <span class="element"></span>
  </p>
  <p class="lead">
    <%= link_to 'About me', about_me_path, class: 'btn btn-lg btn-secondary'  %>
  </p>
</div>
